.hero-section{
  &__heading{
    text-align: center;
  }
  &__wrapper{
    text-align: center;
  }
  &__wrapper-title{
    text-align: center;
  }
  &__items{
    text-align: center;
  }
  &__footer{
    text-align: center;
  }
}



























